@import "../../nardoo"

.search-block
  margin-left: 58px
  width: 354px
  height: 34px
  display: flex
  position: relative


.search-field
  background: #474747
  width: 307px
  height: 34px
  font-weight: 600
  padding: 9px 17px
  font-size: 16px
  color: #989898
  align-self: stretch
  border: 1px solid #6A6A6A

.search-button
  align-self: stretch
  width: 45px
  height: 34px
  background-color: #474747
  border: 1px solid #6A6A6A
  border-left: none
  cursor: pointer

.search-img
  height: 100%
  width: 100%
  padding: 9px 13px 8px 13px
  display: flex
  align-items: center
  align-self: stretch
  justify-content: center
  cursor: pointer

.miniBlock
  width: 352px
  border: 1px solid #6A6A6A
  border-top: none
  height: 300px
  overflow: auto
  display: none
  background-color: #474747
  position: absolute
  visibility: hidden
  opacity: 0
  top: 34px
  left: 0
  z-index: 9999
  &-v
    display: block
    visibility: visible
    opacity: 1


